body{
    background-image: url('../assets/loginBackground.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.mainContentCase{
    background-color: rgb(255, 255, 255);
    max-width: 30vw;
    min-width: 20vw;
    margin-top: 5%;
}

